ul li{
    /* display: inline-block;    */
    display: list-item;
}

#nav{
    margin:0;
    padding: 0;
    /* list-style-type:circle; */
    list-style: circle;
}

#nav li{
    /* display: inline; */
    display:inline; 
    padding: 0;
    margin: 0;
}